.bg-primary{
  background-color: $primary !important;
}

.bg-secondary{
  background-color: $secondary !important;
}

.text-primary{
    color : $primary !important;
}

.page-title{
  font-size: 45px;
  color: #0A0A0A;
  margin-bottom: 25px;
}

.f-14{
  font-size: 14px;
}

.pointer{
  cursor: pointer;
}

.text-black{
  color: #000;
}